body{
    background-color: black;
}
.container{
    display: flex;
    width: 100;
}
.leftcolumn{
    flex: 1;
    padding: 20px;
    background-color: black;
}
.rightcolumn{
    flex: 4;
    padding: 20px;
    background-color: white;
}
.name{
    background-color: white;
    font-size: 20px;
    height: 150px
}
.white{
    color: white;
}
.blue{
    color: rgb(32, 173, 234);
}
.topcontainer{
    display: flex;
    background-color: black;
}
.img{
    width:30%;
}
.text{
    width:150%;
}