body{
margin: 0;
}
.headercontent{
    display: flex;
}
.topnav{
    overflow: hidden;
    background-color: white;
   line-height: 450%;
    float:right;
    size: 70%;
    padding-top: 1rem;
}
.topnav a
{
    color: black;
    text-align: end;
    text-decoration: none;
    text-decoration-color: white;
    padding-left: 2rem;
    font-size: 100%;
}
.topnav a:hover{
    color: red;
    background-color: white;
}
.topnav a.active{
    color: red;
}
 .logoimg{
    float: left;
}
.logoimg img{
    padding-top: 10%;
    width: 70%;
}
.image{
    position: relative;
    padding: 25px;
    
}
.image img{
    width:100%;
    height: 100%;
}
.bottomleft{
    position: absolute;
    bottom: 65%;
    left: 7%;
    font-size: 400%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.bottomleft1{
    position: absolute;
    bottom: 52%;
    left: 7%;
    font-size: 400%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.text{
    position: absolute;
    bottom: 47%;
    left: 7%;
    font-size: 180%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.text1{
    position: absolute;
    bottom: 42%;
    left: 7%;
    font-size: 180%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.button{
    position: absolute;
    bottom: 27%;
    left: 7%;
    font-size: 150%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #17c1a3;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border:0px;
    border-radius: 5px;
    height:10%;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.blackbutton{
    position: absolute;
    bottom: 31%;
    left: 33%;
    font-family: Roboto, Helvetica, Arial, sans-serif;;
    font-size: 150%;
    color: black;
}
.form{
    background-color: white;
    border-radius: 6px;
    position: absolute;
    bottom: 30px;
    left: 70px;
    padding: 10px;
    width: 115px;
}
.top{
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
}